[submodule "image_reader/gmod-module-base"]
	path = image_reader/gmod-module-base
	url = https://github.com/Facepunch/gmod-module-base
[submodule "image_reader/stb"]
	path = image_reader/stb
	url = https://github.com/nothings/stb
